.conent {
    margin-left: 92px;
	margin-right: 92px;
}

.header-link {
    display: flex;
}

.column-logo img {
    width: 12%;
    margin-left: 92px;
}
.column1 {
	position: absolute;
    left: 226px;
    /* float: left;
    width: 15%; */
   /* padding: 10px;*/
   /*padding-left: 93px;*/
}
.column2 {
    float: left;
    width: 40%;
    padding: 20px;
}

/* .header-link:after {
    content: "";
    display: table;
    clear: both;
} */

/* .header-line h1:after {
    background-image: url(img/down-arrow.png);
    background-repeat: no-repeat;
} */

.header-line1 img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 137px;
    left: 441px;
}
.uparrow {
    transform: rotate(-180deg);
    transition: .3s;
}
.header-line2 img {
    position: absolute;
    top: 289px;
    left: 425px; 
    width: 40px;
    height: 40px;
}
/* .moveup-header-line2 {
    top: 177px !important;
} */
.header-line3 img {
    position: absolute;
    top: 424px;
    left: 429px; 
    width: 40px;
    height: 40px;
}

/* .moveup-header-line32 {
    top: 329px !important;
}
.moveup-header-line31 {
    top: 312px !important;
} */

/* skill bar */

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:50%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.content-line5 img {
    width: 5%;
}
.award-1 p {
    display: inline-block;
    vertical-align: text-bottom;
    padding-bottom: 15px;
}

/* expand collapse */

.collapsible {
	background-color: #777;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
  }
  
  .active, .collapsible:hover {
	background-color: #555;
  }
  
  .collapsible:after {
	content: '\002B';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2212";
  }
  
  .content-line8 {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
  }

  /* @media screen and (min-width: 400px) {
	.header-line1 img {
		top: 127px;
		left: 598px;
	}
  } */

  @media (min-width:320px) {
	.header-line1 img {
		display: none !important;
	}
	.header-line2 img {
		display: none !important;
	}
	.header-line3 img {
		display: none !important;
	}
}
@media (min-width:1250px) {
	.header-line1 img {
		display: block !important;
	}
	.header-line2 img {
		display: block !important;
	}
	.header-line3 img {
		display: block !important;
	}
}